/* Imported Fonts  */

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

/* ----------------------------
        common styles
------------------------------*/
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  color: #3a3a3a;
}

/* ----------------------------
header section design
----------------------------*/
header {
  width: 90%;
  margin: auto;
  display: flex;
  height: 10vh;
  align-items: center;
}

header h2 {
  flex: 2;
}
header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 15px;
}
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
}

.cart {
  display: flex;
  margin: auto;
  margin-left: 0;
}
.cart a {
  color: black;
}

/* ----------------------------
    Top-section styles
----------------------------- */
.top-section {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 100px;
}
.top-section-content {
  width: 50%;
}

.top-section-content h2 {
  font-size: 50px;
  font-weight: 700;
  color: #3a3a3a;
  line-height: 20px;
}
.top-section-content p {
  font-size: 16px;
  font-weight: 600;
  margin-top: -20px;
  margin-bottom: 30px;
}

.prebook-button {
  text-decoration: none;
  background: #e02c6d;
  border-radius: 41px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.camera {
  width: 50%;
  margin-left: 5%;
}
.camera img {
  height: 414px;
  width: 440px;
}

/* ------------------------------
    Popular Product section
-------------------------------*/
.popular-container {
  width: 80%;
  margin: auto;
  margin-bottom: 100px;
}
.section-title {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 60px;
  column-gap: 60px;
}
.product {
  box-shadow: 7px 7px 40px gray;
  padding: 15px;
}

.product .product-image img {
  width: 100%;
}

.fa-star {
  font-size: 16px;
}

.fa-star.filled,
.fa-star-half-alt {
  color: #ffc014;
}

.rating-text {
  font-size: 14px;
  font-weight: 700;
}

.see-more {
  text-align: right;
  margin-top: 20px;
}
.see-more a {
  text-decoration: none;

  color: #e02c6d;
}
/* Footer Styles */

footer {
  background-color: #0a0826;
  color: white;
  text-align: center;
  padding: 20px;
}
footer h2 {
  font-size: 24px;
  margin-bottom: 3px;
  font-weight: 700;
}
footer p {
  font-size: 14px;
  font-weight: 700;
}

.social-links a {
  text-decoration: none;
  font-size: 22px;
  color: white;
  padding: 5px;
}

/* ----------------------------------
    Responsive with Media Query
------------------------------------*/
/* Mobile devices */

@media only screen and (max-width: 688px) {
  header h2 {
    font-size: 20px;
    text-align: center;
    flex: 6;
  }
  ul li {
    display: none;
  }
  .top-section {
    flex-direction: column;
    align-items: center;
  }
  .top-section-content {
    width: 100%;
    text-align: center;
  }
  .top-section-content h2 {
    font-size: 30px;
  }
  .camera img {
    margin-top: 30px;
    width: 100%;
    height: 100%;

    align-items: center;
  }
  .products {
    grid-template-columns: repeat(1, 1fr);
  }
  .see-more {
    text-align: center;
  }
}

/* -----------------
    Tablet Devices
--------------------*/

@media only screen and (min-width: 688px) and (max-width: 992px) {
  header h2 {
    font-size: 20px;
    text-align: center;
    flex: 2;
  }
  header nav {
    flex: 0;
  }

  ul li {
    display: none;
  }
  .top-section {
    flex-direction: column;
    align-items: center;
  }
  .top-section-content {
    width: 100%;
    text-align: center;
  }
  .top-section-content h2 {
    font-size: 30px;
  }

  .top-section-content p {
    margin-top: 20px;
  }
  .camera img {
    margin-top: 30px;
    width: 100%;
    height: 100%;

    align-items: center;
  }
  .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .see-more {
    text-align: center;
    margin-top: 50px;
  }
}
